VITE_CHAIN_ID=11155111

VITE_ASTRAEA_FUND_ADDRESS=0xB9F38E0180F62e80Be6ca44cE6202316FCcefEC9

VITE_SEPOLIA_RPC_URL=

VITE_ZAMA_RELAYER_URL=https://relayer.testnet.zama.org

VITE_ENABLE_DEMO_ASSIST=false

VITE_SHOW_INTERNAL_GUIDES=false

VITE_ENABLE_ISSUER_CONTROLS=false
